* {
    box-sizing: border-box;
}

html {
  font-size: 16px;
}
  
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #000;
  line-height: 1.5;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

p.tagline {
  margin: 0;
  padding: 0;
}

hr {
  height: 1px;
  width: 100%;
  margin: 30px 0;
}

h1 a{
  text-decoration: none;
  color: black;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  margin: 10px 0;
  padding: 0;
  font-size: 2rem;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 0 5px 0;
  padding: 0;
}


a {
  color: #39CCCC;
}

main {
  margin: 5px;
}

section {
  text-align: left;
  padding: 0;
  margin: 0 0 0 5px;
  background: #fff;
  color: #000;
}

section.landing-page-section {
  min-height: 200px;
  padding: 0;
  text-align: center;
}

section.landing-page-section h2 {
  text-align: center;
}

.form-section {
  margin-top: 30px;
}

header {
  padding: 0;
  margin: 20px 5px 20px 5px;
  text-align: left;
  background: #fff;
}

footer {
  margin: 10px 0 10px 5px;
}

.logo-link {
  text-decoration: none;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: black;
}

.logo {
  width: 50px;
  display: inline;
  margin: 0;
  padding: 0;
}

button {
  background-color: #767676;
  border-radius: 5px;
  color: #FFF;
  font-size: 1rem;
  padding: .9rem 1.25rem;
  margin: 10px 1px 10px 0;
}

input {
  padding: .9375rem 1.875rem;
}

nav {
  padding: 5px;
  background: #f7f7f7;
}

nav a {
  padding: 0;
  margin: 5px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid darkgray;
  border-style: groove;
  border-radius: 4px;
}

input[type=number].short-text {
  width: 100px;
  padding: 12px 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid drakgray;
  border-style: groove;
  border-radius: 4px;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid darkgray;
  border-style: groove;
  border-radius: 4px;
}

label {
  margin-top: 20px;
  margin-right: 10px;
  font-weight: 600;
  font-size: .9em;
  display: block;
}

.screenshot {
  border: 1px solid black;
  width: 300px;
}

.optional {
  color: darkgray;
}

.required {
  color: red;
}

.teal {
  background-color: #39CCCC;
}


input[type=text] {
  /* padding: 12px 20px;
  font-size: 1rem;
  margin: 8px 0; */
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  border: 1px solid darkgray;
  border-style: groove;
  border-radius: 4px;
}

input[type=number].short-text {
  /* padding: 12px 20px;
  font-size: 1rem;
  margin: 8px 0; */
  font-family: 'Roboto', sans-serif;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid drakgray;
  border-style: groove;
  border-radius: 4px;
}

textarea {
  /* padding: 12px 20px;
  font-size: 1rem;
  margin: 8px 0; */
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  border: 1px solid darkgray;
  border-style: groove;
  border-radius: 4px;
}

/* Responsive Styling
========================================================================== */
/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  input[type=text] {
    width: 100%;
  }
  
  input[type=number].short-text {
    width: 100px;
  }
  
  textarea {
    width: 100%;
  }
  
}

/* Tablet (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  input[type=text] {
    width: 200px;
  }
  
  input[type=number].short-text {
    width: 100px;
  }
  
  textarea {
    width: 400px;
  }
}

/* Desktop */
@media only screen and (min-device-width : 768px) {
  input[type=text] {
    width: 500px;
  }
  
  input[type=number].short-text {
    width: 100px;
  }
  
  textarea {
    width: 500px;
  }
}